.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 18px;
  }
  
  .footerLeft {
    position: relative;
  }
  
  .footerRight {
    position: relative;

  }
  
  @media only screen and (max-width: 600px) {
    .footer {
      height: 30 px;
      min-height: 30px;
    }
  }
  